GELF spec 1.2

The GELF spec states the following about the `timestamp` field.

> UNIX microsecond timestamp; SHOULD be set by client library. Will be set to NOW by server if absent.

The GELF parser in graylog2-server parses the `timestamp` field of incoming messages like this:

``` java
double messageTimestamp = doubleValue(json, "timestamp");
DateTime timestamp;
if (messageTimestamp <= 0) {
    timestamp = Tools.iso8601(); // current time
} else {
    // we treat this as a unix timestamp
    timestamp = Tools.dateTimeFromDouble(messageTimestamp);
}

...

/*
 * The double representation of a UNIX timestamp with milliseconds is a strange, human readable format.
 *
 * This sucks and no format should use the double representation. Change GELF to use long. (zomg)
 */
public static DateTime dateTimeFromDouble(double x) {
    return new DateTime(Math.round(x*1000), DateTimeZone.UTC);
}
```

All of the client libraries we checked use something like this for the timestamp:

``` java
double timestamp = logEvent.getTimeStamp() / 1000.0;
```

So in reality the `timestamp` field is a UNIX timestamp in **seconds** with optional **milliseconds** after the decimal point.

That means that either the GELF 1.1 specification is wrong or everyone (including ourselves) implemented it incorrectly.

Two suggestions:
1. Adjust the `timestamp` field specification to match reality: "Seconds since UNIX epoch; SHOULD be set by client library. Will be set to the current system time by server if absent.".
2. Add an optional `timestamp_ms` field which holds a millisecond timestamp. If `timestamp_ms` exists in an incoming message, that one should be used as timestamp.

This ensures backwards compatibility with existing clients but also allows fine resolution timestamps to be sent.

Any comments? Any other changes for a version 1.2 of the GELF spec?


Compression of GELF Messages does not work atm for TCP Connections.

Maybe a stream Compression would be more efficient here, i opened a pull request for this (closed it in the meantime, as i wanted to first check it against GELF-MessagePerMessage Compression, which didn't work :-( )
 
https://github.com/Graylog2/graylog2-server/pull/1364

and: what about supporting Arrays and Objects?

i have a metric i'd like to send in

we have a function call, where different listeners are called. and i want to know which listener is taking how long.

so normaly i would do it this way:

"listener_duration": [{ listener: "a", "duration": 17}, { listener: "b", "duration": 20}]


i need to do it at them moment kind of

"listener_duration_a": 17
"listener_duration_b": 17
generating a new field for each listener (where i don't know how many there will be), which i'll then would have to add manually to graphs etc ...








Have you thought about using the timestamp format as specified by [RFC 5424 (section 6.2.3)](https://tools.ietf.org/html/rfc5424#section-6.2.3)? It has the advantage that it is human readable and there is no issue with higher percisions because the field would be a string.

This would require a new spec release, even a major release because this would be a breaking change but I would say it is worth it.

Related (workaround): https://github.com/severb/graypy/issues/99