Problems parsing RFC3164 Syslog Messages with ISO8601 timestamps

## Summary
<!--- Provide a general summary of the issue in the Title above -->
Graylog's SyslogCodec mishandles older RFC3164-style syslog messages that contain an ISO8601 timestamp. Example message that causes unwanted behavior:

`<6>2016-10-12T14:10:18Z hostname testmsg[20]: {"cf_origin":"firehose","deployment":"cf","event_type":"ValueMetric","ip":"127.0.0.1","job_index":"0","level_mod":"6","msg":"","name":"RequestLatency","origin":"bbs","time":"2016-10-12T14:10:18Z","unit":"nanos","value":2.6071897e+07}"`

## Expected Behavior
<!--- If you're describing a bug, tell us what should happen -->
<!--- If you're suggesting a change/improvement, tell us how it should work -->
Section 5.1 of [RFC3164](https://www.ietf.org/rfc/rfc3164.txt) says that implementers may wish to use an ISO8601 timestamp, so the expected behavior is that this is parsed out properly.

## Current Behavior
<!--- If describing a bug, tell us what happens instead of the expected behavior -->
<!--- If suggesting a change/improvement, explain the difference from current behavior -->
In SyslogCodec, messages of the above format match the regex on [L64](https://github.com/Graylog2/graylog2-server/blob/2.1.1/graylog2-server/src/main/java/org/graylog2/inputs/codecs/SyslogCodec.java#L64), which cause it to be parsed to RFC5424 standards. This causes a mangling of the fields, with the timestamp, application name, and process id becoming random words in the message part.

## Possible Solution
<!--- Not obligatory, but suggest a fix/reason for the bug, -->
<!--- or ideas how to implement the addition or change -->
On line 64 of [SyslogCodec](https://github.com/Graylog2/graylog2-server/blob/2.1.1/graylog2-server/src/main/java/org/graylog2/inputs/codecs/SyslogCodec.java#L64), change the regex from:
`<\\d+>\\d.*`
to:
`<\\d{1,3}>[1-9]\\d{0,2}\\s.*`

RFC5424 defines the syslog header to start with `<PRI>VER`, where PRI is a 1-3 digit number from 0-191, and VER is a 1-3 digit number from 1-999. Matching this will ensure that RFC3164 syslog messages with ISO8601 timestamps aren't interpreted as RFC5424 messages.

This will also require a small update to syslog4j-graylog2 to prevent the timestamp from throwing a date parsing exception and getting replaced with Date(). I'll submit an issue to that project as well.

## Steps to Reproduce (for bugs)
<!--- Provide a link to a live example, or an unambiguous set of steps to -->
<!--- reproduce this bug. Include code to reproduce, if relevant -->
1. Run Graylog 2.1.1 and set up a Syslog TCP stream
2. Save the above message to a file, let's call it testmsg
3. `cat testmsg|nc grayloghost port`
4. Check Graylog, find mangled fields in the message.

## Context
<!--- How has this issue affected you? What are you trying to accomplish? -->
<!--- Providing context helps us come up with a solution that is most useful in the real world -->
This was discovered when trying to use Graylog to collect stats and other messages from Pivotal Cloud Foundry using the firehose-to-syslog nozzle provided to funnel stats into syslog messages. Due to the message content being JSON, the mangling of the message field causes the JSON extractor to fail on a large portion of messages.

## Your Environment
<!--- Include as many relevant details about the environment you experienced the bug in -->

* Graylog Version: 2.1.1
* Elasticsearch Version: 2.3.3
* MongoDB Version: 3.2.6
* Operating System: RHEL 7.2
* Browser version: Chrome 52


Submitted timestamp fix to syslog4j-graylog2 here:
https://github.com/Graylog2/syslog4j-graylog2/issues/16