syslog Structured Data parsing does not parse 2 datas with the same header

Sorry, think i put this in the wrong place at mrlesmithjr/graylog2; repeated here:


when parsing syslog using syslog UDP configured:

expand_structured_data: true
recv_buffer_size: 16384
port: 514
override_source:
allow_override_date: true
bind_address: 0.0.0.0
store_full_message: true

if a message has 2 Structured Data elements with the same prefix like below:
<133>1 2015-07-22T14:54:24.332Z plyscreen TemplateCP 2388 0 [PS@1852 tag="Discovery"][PS@1852 type="4" catagory="1" eventId="0" PCR="20:14:30.919" PCRd="3279191366" deviceId="0" deviceType="5" processId="2388" threadId="148"] Running

PS@1852 tag="Discovery" does not create a field PS@1852_tag

if changed to ME@1852, then it does....

all the fields in the second structured data do produce fields.

Not dead urgent because I can change the first prefix.... but though i better log it.


this is likely in StructuredSyslogMessage.java in Graylog2/syslog4j-graylog2; My Java is not good enough to identify the exact bit.

[RFC 5424, section 6.3.2](https://tools.ietf.org/html/rfc5424#section-6.3.2) states:
> The same SD-ID MUST NOT exist more than once in a message.

In the end the SD-ID is being used as a (unique!) key in a dictionary and thus our syslog parser will always only output one of the structured data elements (SD-ELEMENT) in a given structured syslog message.

I'd strongly recommend renaming one of the SD-IDs if possible.

thanks Joschi, I missed that in the rfc.  I'll have unique ones for the moment, or combine the structured data regions into a single if there is two the same before sending.