Regression in 7.1+ TXT size limit for DNS data adapter too small

In 7.1+ the maximum size for a TXT record received when doing a DNS query through a lookup adapter is too small. Seems to be limited to 64 characters. 

## Expected Behavior

These queries work in 7.0.x and below>

* as13335.asn.cymru.com
* as8075.asn.cymru.com

## Current Behavior

On 7.1.2, queries with "long" answers (such as as13335 and as8075) fail with an error. The result structure returns "has_error:true" with these errors on the log file:

```
2026-05-25 15:36:32,158 ERROR o.g.l.a.DnsLookupDataAdapter [http-worker-59] Could not perform TXT DNS lookup for [as13335.asn.cymru.com]. Cause [label must be <= 63 but was 69.]
2026-05-25 15:38:18,896 ERROR o.g.l.a.DnsLookupDataAdapter [http-worker-58] Could not perform TXT DNS lookup for [as8075.asn.cymru.com]. Cause [label must be <= 63 but was 87.]
```

## Possible Solution
**Increase maximum size for DNS TXT responses. It seems it is a smaller number for 7.1+**. Actually a TXT record can be much bigger.

## Steps to Reproduce (for bugs)
* Create a DNS lookup adapter for TXT records both on 7.1.2 and previous versions and compare.

For example, on 7.0.5 "as13335.asn.cymru.com" returns:

```
{
  "single_value": null,
  "multi_value": {
    "raw_results": [
      {
        "value": "13335 | US | arin | 2010-07-14 | CLOUDFLARENET - Cloudflare, Inc., US.",
        "dns_ttl": 71617
      }
    ]
  },
  "string_list_value": [
    "13335 | US | arin | 2010-07-14 | CLOUDFLARENET - Cloudflare, Inc., US."
  ],
  "has_error": false,
  "ttl": 71617000
}
```

While on 7.1.2 it returns

```
{
  "single_value": null,
  "multi_value": null,
  "string_list_value": null,
  "has_error": true,
  "ttl": 5000
}
```

For queries with shorter answers it works on both versions. For example,

* as714.asn.cymru.com

On 7.0.5:
```
{
  "single_value": null,
  "multi_value": {
    "raw_results": [
      {
        "value": "714 | US | arin |  | APPLE-ENGINEERING - Apple Inc., US.",
        "dns_ttl": 69206
      }
    ]
  },
  "string_list_value": [
    "714 | US | arin |  | APPLE-ENGINEERING - Apple Inc., US."
  ],
  "has_error": false,
  "ttl": 69206000
}
```
On 7.1.2:
```
{
  "single_value": null,
  "multi_value": {
    "raw_results": [
      {
        "value": "714 | US | arin |  | APPLE-ENGINEERING - Apple Inc., US.",
        "dns_ttl": 84937
      }
    ]
  },
  "string_list_value": [
    "714 | US | arin |  | APPLE-ENGINEERING - Apple Inc., US."
  ],
  "has_error": false,
  "ttl": 84937000
}
```


## Context
I am using a pipeline function to obtain the AS number and some data about an IP addresses. This particular query returns some data about an ASN including its name, country, NCC, etc.



Confirmed:

```
(from a DNS config zone)
text63  IN      TXT "012345678901234567890123456789012345678901234567890123456789012"
text64  IN      TXT "0123456789012345678901234567890123456789012345678901234567890123"
```
text63 works (63 characters) and text64 doesn't.




Noting that I was able to reproduce this in 7.1.2

```
2026-05-28T15:54:47.985Z ERROR [org.graylog2.lookup.adapters.DnsLookupDataAdapter] Could not perform TXT DNS lookup for [as13335.asn.cymru.com]. Cause [label must be <= 63 but was 69.]
2026-05-28T15:54:48.882Z ERROR [org.graylog2.lookup.adapters.DnsLookupDataAdapter] Could not perform TXT DNS lookup for [as13335.asn.cymru.com]. Cause [label must be <= 63 but was 69.]
2026-05-28T15:54:49.277Z ERROR [org.graylog2.lookup.adapters.DnsLookupDataAdapter] Could not perform TXT DNS lookup for [as13335.asn.cymru.com]. Cause [label must be <= 63 but was 69.]
2026-05-28T15:54:49.446Z ERROR [org.graylog2.lookup.adapters.DnsLookupDataAdapter] Could not perform TXT DNS lookup for [as13335.asn.cymru.com]. Cause [label must be <= 63 but was 69.]
2026-05-28T15:54:49.584Z ERROR [org.graylog2.lookup.adapters.DnsLookupDataAdapter] Could not perform TXT DNS lookup for [as13335.asn.cymru.com]. Cause [label must be <= 63 but was 69.]
2026-05-28T15:54:49.740Z ERROR [org.graylog2.lookup.adapters.DnsLookupDataAdapter] Could not perform TXT DNS lookup for [as13335.asn.cymru.com]. Cause [label must be <= 63 but was 69.]
2026-05-28T15:57:08.838Z ERROR [org.graylog2.lookup.adapters.DnsLookupDataAdapter] Could not perform TXT DNS lookup for [txt2.geek4u.net]. Cause [label must be <= 63 but was 64.]
```

It appears this error is generated via https://github.com/Graylog2/graylog2-server/blob/df839cd065a7b833a9814fbfa09fb32f79fb2e7c/graylog2-server/src/main/java/org/graylog2/lookup/adapters/DnsLookupDataAdapter.java#L359

I also confirmed that I can return TXT records >63 in Graylog 7.0 (tested with 7.0.6)

The issue is not related to any change in Graylog logic, but is caused by the update of the `netty` dependency to version `4.2.13.Final` in Graylog `7.1.2`.

In that release they addressed some security issues, being one of them: https://github.com/netty/netty/security/advisories/GHSA-cm33-6792-r9fm

As stated in the security advisory:

> No if (len > 63) check per RFC 1035 Section 2.3.4

**UPDATE: DOESN'T SEEM TO BE A NETTY BUG, SEE BELOW!**

Oh I see! They have applied the maximum length for a "label" to a record response (this will break other stuff as well).

"label" is, in the context of a DNS query packet, one of the components of a DNS name. For example, if I send a DNS query for "www.example.com", the query packet (and the response) encode the DNS name into three labels, each one being a null terminated string. 

An example from Wireshark is included.

So, the limits that apply are:

Maximum name length: 255 characters
Maximum label length: 63. 

Fortunately they have **not** broken PTR responses (which would be another candidate for breakage). Just TXT.

```
{
  "single_value": "123456789.123456789123456789.123456789.123456789.123456789.123456789.123456789.123.127.in-addr.arpa.",
  "multi_value": {
    "domain": "127.in-addr.arpa",
    "full_domain": "123456789.123456789123456789.123456789.123456789.123456789.123456789.123456789.123.127.in-addr.arpa.",
    "dns_ttl": 10800
  },
  "string_list_value": [
    "123456789.123456789123456789.123456789.123456789.123456789.123456789.123456789.123.127.in-addr.arpa."
  ],
  "has_error": false,
  "ttl": 10800000
}
```

So it seems there is a misunderstanding with the maximum TXT record length. I think the specification is ambiguous but it is usually limited to 255 bytes and large TXT records are broken into several chunks.


Still present in 7.1.8 despite the fact that Netty has been updated. Not sure about the root cause.
